div.card {
    background: white;
    border-color: lightgray;
    width: 14rem;
    height: 10rem;
    margin: 0.5rem;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: lightgray;
}

div.card-title {
    height: 30%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.card-top {
    height: 60%;
}

div.card-top-number {
    height: 55%;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

div.card-top-unit {
    text-align: center;
    font-size: 1.5rem;
}

div.card-body {
    height: 70%;
}

div.card-bottom {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card-bottom-progressbar {
    height: 1rem;
    width: 80%;
    background: lightgray;
    border-radius: 1rem;
    padding: 0.125rem;
}

    div.card-bottom-progressbar > span {
        display: block;
        height: 100%;
        border-radius: 1rem;
        box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

.card-bottom-arrow-left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3rem;
}
.card-bottom-arrow-right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
    align-items: center;
    box-sizing: border-box;

}
.card-bottom-arrow-right-green {
    color: forestgreen;
}

.card-bottom-arrow-right-red {
    color:  orangered;
}

.card-bottom-arrow-right-yellow {
    color: sandybrown
}

.card-bottom-dust {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 1rem;
    box-sizing: border-box;
    display: flex;
}
.card-bottom-dust-left {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding-right: 0.5rem;
}

.card-bottom-dust-right {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.card-bottom-dust-status {
    height: 75%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #70CA2C;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    font-weight: bold;
}
