#topbar {
    width: 100%;
    min-width: 15rem;
    box-sizing: border-box;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.05);
    background: var(--background-dark-graphite);
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
    position:absolute;
    z-index:5;
}

#topbar-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}