#logo {
    height: 2rem;
    display: block;
    margin: 0 0 30px 0;
    padding: 1rem 0px 0px 20px;
    color: var(--text-grey);
    font-size: 2rem;
}

#logo-text {
    margin-left: 0.5rem;
}

@media(max-width: 72rem) {
    #logo-text {
        display: none;
    }
}