#sidebar {
    width: 15.5rem;
    background: var(--background-graphite);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    height: 100%;
    padding-top:4rem;
    display:block;
    z-index:4;
}

@media(min-width: 72rem) {
    .sidebar-disabled-desktop {
        display: none !important;
    }
}

@media(max-width: 72rem) {
    #sidebar {
        width: 5rem;
    }
    .sidebar-disabled-phone {
        display: none !important;
    }
}