html, body, #root {
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

:root {
    --background-grey: #e0e0e0;
    --background-graphite: #1F262D;
    --background-dark-graphite: #141619;
    --background-blue: #2190c2;
    --text-grey: #d3d7db;
}
