#layout {
    min-width: 20rem;
    display: block;
    min-height:100%;
    height:1px;
}

#page-wrapper {
    display: flex;
    min-height: calc(100% - 4rem);
    background: var(--background-grey);
}

#page-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}