#layout {
    min-height: 100%;
    display: flex;
    min-width: 20rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    background: var(--background-grey);
}
#page-wrapper {
    width: calc(100% - 15.5rem);
    display: flex;
    flex-flow: column nowrap;
}

#page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}
@media(max-width: 72rem) {

    #page-wrapper {
        width: calc(100% - 5rem);
    }
}