.topbar-button {
    background: var(--background-graphite);
    border-style: solid;
    border-color: dimgrey;
    border-radius: 2px;
    border-width: 1px;
    margin-left: 0.5rem;
    min-width: 2rem;
}

    .topbar-button:hover {
        background: var(--background-dark-graphite);
        color: white;
    }

.topbar-button-wrapper {
    color: var(--text-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.hide-sidebar-button {
    margin-right: auto;
    margin-left: 0 !important;
    background: var(--background-dark-graphite);
    border: none;
    padding-right: 1.7rem;
    padding-left: 1.7rem;
    padding-top: 1rem;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}   

.topbar-button-logout{
    margin-left:2rem;
    background: var(--background-red);
}

    .topbar-button-logout:hover {
        background: var(--background-red-dark);
    }


.topbar-text{
    margin-left:0.5rem;
}
@media(max-width: 44rem) {
    .topbar-text {
        display:none;
    }
}
